[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
scrapy = "*"
boto3 = "*"

[dev-packages]

[requires]
python_version = "3.10"

[scripts]
create_events_table = "python create_events_table.py"
madame_claude = "scrapy crawl --overwrite-output out/madame_claude.json madame_claude"
schokoladen = "scrapy crawl --overwrite-output out/schokoladen.json schokoladen"
